h1{
	font-size: 60px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px
}
body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: #1a1a1a;
    background-color: #ffffff;
}
#header-nav {
    background-color:black;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #037f51;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #ffffff;
    font-family: 'Oxygen', cursive;
    font-weight: bolder;
    font-size: 2.5em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #1a1a1a;
}

#nav-list {
    background-color: #037f51;
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #1a1a1a;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #000000;
    background-color: #aafddf;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #aafddf;
}
#main-content {
    width: 50%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 385px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#JAZZ-tile, #Classical-tile, #Pop-tile {
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    background-color: #ffffff;
    margin-bottom: 60px;
    box-shadow: 0 0 80px black;
    margin:0px 0px 60px 385px;
}

svg{
    cursor: pointer;
	border-color: black;
	width: 60px;
}
img{
    height: 180px;
    width: 300px;
    margin-left: 230px;
}
